In [1]:
import pandas as pd
import sqlalchemy as db

In [2]:
engine = db.create_engine("sqlite:///nfl.stats.db", echo=True)
conn = engine.connect()

In [3]:
df = pd.read_csv('nfl.stats.csv')

In [4]:
df.to_sql('nfl_stats', con=engine, if_exists='replace', index=False)

2023-05-28 10:46:56,315 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-05-28 10:46:56,316 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("nfl_stats")
2023-05-28 10:46:56,316 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-05-28 10:46:56,317 INFO sqlalchemy.engine.Engine ROLLBACK
2023-05-28 10:46:56,318 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-05-28 10:46:56,318 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("nfl_stats")
2023-05-28 10:46:56,319 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-05-28 10:46:56,319 INFO sqlalchemy.engine.Engine ROLLBACK
2023-05-28 10:46:56,320 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-05-28 10:46:56,320 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2023-05-28 10:46:56,320 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-05-28 10:46:56,321 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_temp_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2023-05-28 10:46:56,321 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-05-28 10:46:56,321 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("nfl_stats")
2023-05-28 10:46:56,322 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-05-28 10:46:56,323 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2023-05-28 10:46:56,323 INFO sqlalchemy.engine.Engine [raw sql] ('nfl_stats',)
2023-05-28 10:46:56,324 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("nfl_stats")
2023-05-28 10:46:56,324 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-05-28 10:46:56,325 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("nfl_stats")
2023-05-28 10:46:56,325 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-05-28 10:46:56,325 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2023-05-28 10:46:56,326 INFO sqlalchemy.engine.Engine [raw sql] ('nfl_stats',)
2023-05-28 10:46:56,326 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("nfl_stats")
2023-05-28 10:46:56,327 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-05-28 10:46:56,327 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("nfl_stats")
2023-05-28 10:46:56,327 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-05-28 10:46:56,328 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("nfl_stats")
2023-05-28 10:46:56,328 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-05-28 10:46:56,329 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("nfl_stats")
2023-05-28 10:46:56,329 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-05-28 10:46:56,329 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("nfl_stats")
2023-05-28 10:46:56,330 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-05-28 10:46:56,330 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("nfl_stats")
2023-05-28 10:46:56,330 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-05-28 10:46:56,331 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2023-05-28 10:46:56,331 INFO sqlalchemy.engine.Engine [raw sql] ('nfl_stats',)
2023-05-28 10:46:56,333 INFO sqlalchemy.engine.Engine ROLLBACK
2023-05-28 10:46:56,335 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-05-28 10:46:56,335 INFO sqlalchemy.engine.Engine
DROP TABLE nfl_stats
2023-05-28 10:46:56,336 INFO sqlalchemy.engine.Engine [no key 0.00030s] ()
2023-05-28 10:46:56,749 INFO sqlalchemy.engine.Engine COMMIT
2023-05-28 10:46:56,750 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-05-28 10:46:56,751 INFO sqlalchemy.engine.Engine
CREATE TABLE nfl_stats (
	"PlayerName" TEXT,
	"PassYds" FLOAT,
	"YdsAtt" BIGINT,
	"Att" BIGINT,
	"Cmp" FLOAT,
	"TD" BIGINT,
	"INT1" FLOAT,
	"Rate" BIGINT,
	"1st" FLOAT,
	"1st.1" BIGINT,
	"20" BIGINT,
	"40" BIGINT,
	"Lng" BIGINT,
	"Sck" BIGINT,
	"SckY" BIGINT
)


2023-05-28 10:46:56,751 INFO sqlalchemy.engine.Engine [no key 0.00030s] ()
2023-05-28 10:46:56,961 INFO sqlalchemy.engine.Engine COMMIT
2023-05-28 10:46:56,962 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-05-28 10:46:56,965 INFO sqlalchemy.engine.Engine INSERT INTO nfl_stats ("PlayerName", "PassYds", "YdsAtt", "Att", "Cmp", "TD", "INT1", "Rate", "1st", "1st.1", "20", "40", "Lng", "Sck", "SckY") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2023-05-28 10:46:56,965 INFO sqlalchemy.engine.Engine [generated in 0.00090s] [(' Patrick Mahomes ', 8.1, 648, 435, 67.1, 12, 105.2, 272, 42.0, 73, 13, 67, 26, 188, 0), (' Justin Herbert ', 6.8, 699, 477, 68.2, 10, 93.2, 228, 32.6, 50, 7, 55, 38, 206, 0), (' Tom Brady ', 6.4, 733, 490, 66.8, 9, 90.7, 237, 32.3, 50, 8, 63, 22, 160, 0), (' Kirk Cousins ', 7.1, 643, 424, 65.9, 14, 92.5, 230, 35.8, 47, 10, 66, 46, 329, 0), (' Joe Burrow ', 7.4, 606, 414, 68.3, 12, 100.8, 219, 36.1, 53, 10, 60, 41, 259, 0), (' Jared Goff ', 7.6, 587, 382, 65.1, 7, 99.3, 227, 38.7, 57, 12, 81, 23, 156, 0), (' Josh Allen ', 7.6, 567, 359, 63.3, 14, 96.6, 212, 37.4, 51, 12, 98, 33, 162, 0), (' Geno Smith ', 7.5, 572, 399, 69.8, 11, 100.9, 206, 36.0, 50, 6, 54, 46, 348, 0)  ... displaying 10 of 114 total bound parameter sets ...  (' Ced Wilson ', 0.0, 0, 0, 0.0, 0, 0.0, 0, 0.0, 0, 0, 0, 1, 6, 0), (' Garrett Wilson ', 0.0, 1, 0, 0.0, 0, 39.6, 0, 0.0, 0, 0, 0, 0, 0, 0)]
2023-05-28 10:46:56,966 INFO sqlalchemy.engine.Engine COMMIT

114

In [5]:
query = db.text('SELECT * FROM nfl_stats')
result = conn.execute(query)
data = result.fetchall()

2023-05-28 10:47:01,803 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-05-28 10:47:01,803 INFO sqlalchemy.engine.Engine SELECT * FROM nfl_stats
2023-05-28 10:47:01,804 INFO sqlalchemy.engine.Engine [generated in 0.00087s] ()

In [6]:
columns = ['PlayerName', 'PassYds', 'YdsAtt', 'Att', 'Cmp', 'TD', 'INT1', 'Rate', '1st', '1st', '20', '40', 'Lng', 'Sck', 'SckY']
df = pd.DataFrame(data, columns=columns)

In [7]:
print(df)

            PlayerName  PassYds  YdsAtt  Att   Cmp  TD   INT1  Rate   1st  \
0     Patrick Mahomes       8.1     648  435  67.1  12  105.2   272  42.0
1      Justin Herbert       6.8     699  477  68.2  10   93.2   228  32.6
2           Tom Brady       6.4     733  490  66.8   9   90.7   237  32.3
3        Kirk Cousins       7.1     643  424  65.9  14   92.5   230  35.8
4          Joe Burrow       7.4     606  414  68.3  12  100.8   219  36.1
..                 ...      ...     ...  ...   ...  ..    ...   ...   ...
109      James Proche       0.0       1    0   0.0   1    0.0     0   0.0
110      Nate Sudfeld       0.0       0    0   0.0   0    0.0     0   0.0
111    Tommy Townsend       0.0       1    0   0.0   0   39.6     0   0.0
112        Ced Wilson       0.0       0    0   0.0   0    0.0     0   0.0
113    Garrett Wilson       0.0       1    0   0.0   0   39.6     0   0.0

     1st  20  40  Lng  Sck  SckY
0     73  13  67   26  188     0
1     50   7  55   38  206     0
2     50   8  63   22  160     0
3     47  10  66   46  329     0
4     53  10  60   41  259     0
..   ...  ..  ..  ...  ...   ...
109    0   0   0    0    0     0
110    0   0   0    1    7     0
111    0   0   0    0    0     0
112    0   0   0    1    6     0
113    0   0   0    0    0     0

[114 rows x 15 columns]